@font-face {
    font-family: 'The Hills';
    src: url('/fonts/the_hills.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('/fonts/museo-sans-300-webfont.eot');
    src: url('/fonts/museo-sans-300-webfont-iefix.eot') format('embedded-opentype'), url('/fonts/museo-sans-300-webfont.woff2') format('woff2'), url('/fonts/museo-sans-300-webfont.woff') format('woff'), url('/fonts/museo-sans-300-webfont.ttf') format('truetype'), url('/fonts/museo-sans-300-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}